/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');
/* Reset CSS */
*{
    box-sizing: border-box;
  }
  ul,li{
    list-style: none;
  }
  a{
    text-decoration: none;
    color: #222;
  }
  button, input{
    outline:none;
  }
  h1,h2,h3,h4,h5,h6{
    margin: 0;
    font-weight: normal;
    line-height: 1.5em;
  }
  /* Defalut CSS */
  html{
   scroll-behavior: smooth;
  }
  body{
    font-family: 'noto sans', sans-serif; 
    font-size: 18px; 
    line-height: 1.7em;
    margin: 0; 
    background-color: #fff;
    color: #222;
    /* overflow-x: hidden; */
  }
  section{
    padding: 100px 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }
  #feature1{
    background-color: rgb(250, 249, 215);
  }
  #feature2{
    background-color: rgb(250, 215, 215);
    font-size: 20px;
  }
  #feature3{
    background-color: rgb(236, 250, 215);
  }
  #feature4{
    background-color: rgb(215, 250, 250);
  }
  #feature5{
    background-color: rgb(239, 215, 250);
  }

/* Header scroll */
header{
    position: fixed;
    width: 100%;
    z-index:10;
    transition: 0.35s;
}
header.active{
    background-color: #203049;
    color: #fff;
    box-shadow: 3px 0 3px rgba(0,0,0,0.1);
}
header.active a{
  color: #fff;
}
.header_inner{
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
}
.gnb a{
    margin-left: 20px;
}
/* accordion */
.accordion{
    width: 50%;
    height: 400px;
    box-sizing: border-box;
}
.accordion .title{
    position: relative;
    border: 1px solid #ddd;
    padding: 4px 4px 4px 12px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    background-color: #fff;
    transition: 0.35s;
}
.title:hover{
    color: #fff;
    background-color: #203049;
}
.title.active{
    color: #fff;
    background-color: #203049;
}
.title.active:before{
    color: orange;
    transform: rotate(90deg);
}
.accordion .title:before{
    content: "\f105";
    font-family: "fontawesome";
    position: absolute;
    top: 6px;
    right: 14px;
}
.accordion .desc{
    font-size: 14px;
    background-color: #fff;
    padding: 14px 4px 14px 14px;
    line-height: 1.4;
    display: none;
}
/* gototop button : 유니코드는 a의 before 해야 클릭됨, transform:translateY(), transition, opacaity 사용*/
.go_btn{
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: #203049;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transform: translateY(100px);
  transition: 0.35s;
  opacity: 0;
}

.go_btn a:before{
  content: "\f062";
  font-family: "Fontawesome";
  font-size: 30px;
  color: #fff;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 14px);
}
.go_btn.active{
  transform: translateY(0);
  opacity: 1;
}

/* slider custom btn : 앞에 부모클래스 붙여야 먹힘. */

.review-content{
  width: 900px;
  text-align: center;
  background-color: #fff;
}
.slogan{
  font-size: 36px;
  margin-bottom: 30px;
}
.review-slider{
  padding: 0 20px;
}

/* dot */
/* dot 중앙정렬 */
.slick-dots{
  left: 50%;
  transform: translateX(-50%);
}
/* 액티브전 동그라미 */
.review-slider .slick-dots li button:before {
  color: #203049;
  font-size: 12px;
  opacity: 1;
  top: -3px;
}
.review-slider .slick-dots li {
  margin: 14px 0;
}
/* 액티브한 li의 동그라미 */
.review-slider .slick-dots li.slick-active button:before {
  opacity: 1;
  color: transparent;
  border-radius: 8px;
  top: 0;
  width: 22px;/*길게*/
  height: 12px;
  background-color: #203049;
}

/* 화살표 */
/* 화상표 모양 */
.review-slider .slick-prev:before,
.review-slider .slick-next:before{
  content:"\f104";
  font-family: 'fontawesome';
  font-size: 40px;
  opacity: 1;
  color: #203049;
  display: block;
 
}
.review-slider .slick-next:before{
  transform: rotate(180deg);
}
/* 화살표 위치 */
.slick-prev, .slick-next{
  
}
/* Tab */
.tab{
  width: 900px;
  margin: auto;
  padding: 0 100px;
  box-sizing: border-box;
}
.tab_inner{
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.tab_btn{
  font-size: 22px;
  padding: 4px;
  color: #555;
  font-weight: normal;
  /* flex: 1; */
  width: calc(100%/3);
  transition: 0.2s;
}
.tab_btn.active{
  color: #203049;
  border-bottom: 2px solid #203049;
  font-weight: bold;
}
.list_inner{
  padding: 0;
  height: 350px;
  background-color: #fff;
  position: relative;
}
.list{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  padding: 100px 20px;
  background-color: #eee;
  text-align: center;
  transition: 0.2s;
  display: none;
}
.list:nth-child(2){
  background-color: #999;
}
.list:nth-child(3){
  background-color: #555;
}
.list.active{
  display: block;
}
/* drop menu */

#feature4{
  align-items: flex-start;
}
.dropdown_inner{
  width: 700px; display: flex;
}
.dropdown{ 
  width: calc(100%/3);
  text-align: center; 
  position: relative;
  margin: 0;
  padding: 0;

}
.dropdown_btn{
   width: inherit; 
   border: none; 
   outline: none; 
   padding: 6px; 
   box-sizing: border-box; 
   font-size: 18px; 
   color: #fff; 
   background-color: #203049; 
   cursor: pointer;
  }
  .dropdown_btn:hover{
    background-color: #3f5e8f;
  }
.dropdown_submenu{ 
  display: none; 
  width: 700px; 
  height:400px; 
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0,0,0,0.2); 
  background-color: #fff;
  margin: 0;
  padding: 20px 0 0;
  font-size: 20px;
}
.dropdown:nth-child(1) > li .dropdown_submenu{
  position: absolute;
  left: 0;}
.dropdown:nth-child(2) > li .dropdown_submenu{
  position: absolute;
  left: -233px;}
.dropdown:nth-child(3) > li .dropdown_submenu{ 
  position: absolute;
  left: -467px;
}
.dropdown_submenu > li{ 
  text-align: center;
}
.dropdown_submenu > li > a{ 
  display: block; 
  padding: 10px; 
  width: 100%; 
  box-sizing: border-box;
}
.dropdown_submenu > li > a:hover { 
  background-color: #eee;
}
.dropdown:hover .dropdown_submenu{ 
  display: block;
}